.vehivle-section {
    background: rgba(211, 211, 211, 0.657);
    width: 90%;
    margin: 20px auto;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px lightgray;
    display: flex;
    cursor: pointer;
    transition: all .3s ease;
}

.vehivle-section:hover {
    background: rgba(211, 211, 211, 0.411);
}

.vehicle-img img {
    border-radius: 7px;
    padding: 1px;
    background: white;
}

.vehicle-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.vehicle-info p {
    padding: 5px;
    font-size: 18px;
    color: #4e4e52;
}